@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Roboto:wght@300&family=Yanone+Kaffeesatz:wght@300&display=swap&family=Cookie&display=swap');
    
body{
    /* background: #B4846C; */
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/hiphop.jpg);
    /*     background-repeat: no-repeat; */
    background-position: center;
    margin-left: 0;
    margin-top: 0;
    font-family: 'Yanone Kaffeesatz';
    font-size: 1.2em;
}

.hero{
    margin-left: 0;
    margin-top: 0;
}

.main{
    display: grid;
    grid-template-columns: 300px 1035px;
    /* place-content: space-between; */
}

h1{
    font-family: 'Anton';
    font-size: 3em;
    margin-bottom: 0px;
    margin-top: 0;
    color: #FEFBF3;
}
.title-text{
    font-family: 'Bebas Neue';
    font-size:1.2em;
    color: #E7EAB5;
}

.head{
    font-family: 'Yanone Kaffeesatz';
    /* font-size: 1.2em; */
    margin-top: 1px;
    color: #FEFBF3;

}

.title{
    text-align: center;
}

#mainVisual{
    display: grid;
    align-content: center;
    justify-content: center;
}

.navigation{
    height: 600px;
    width: 300px;
    background-image: url('../images/record.png');
    background-repeat: no-repeat;
    background-size: 95% 100%;
    margin-top: 10px;
}

ul{
    margin-top: 0;
    list-style-type: none;
    color: rgb(230, 238, 245);
}

.nav-home{
    margin-top: 100px;
    margin-bottom: 30px;
    font-weight: bold;
    left: -20px;
}
.nav-home:hover{
    font-weight: bold;
    font-size: 1.05em;
}

.nav-barChart{
    left: 30px;
    top: 100px;
}
.nav-barChart:hover{
    font-weight: bold;
    font-size: 1.05em;
}

.nav-lineBarChart{
    margin-left: 100px;
    top: 200px;
}
.nav-lineBarChart:hover{
    font-weight: bold;
    font-size: 1.05em;
}

.nav-scatterChart{
    margin-left: 20px;
    top: 300px;
}
.nav-scatterChart:hover{
    font-weight: bold;
    font-size: 1.05em;
}

.nav-radarChart{
    top: 400px;
    left: -20px;
}
.nav-radarChart:hover{
    font-weight: bold;
    font-size: 1.05em;
}

.content-barChart{
    display: none;
    overflow: scroll;
    padding-left: 17px;
    overflow-x: hidden;
}

.genderLabel{
    display: flex;
    /* align-content: center; */
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 10px;
}

#gender1{
    font-family: 'Roboto';
}

#gender2{
    font-family: 'Roboto';
}

#artistOne{
    font-family: 'Roboto';
}

#artistTwo{
    font-family: 'Roboto';
}

.colorDiv{
    background-color: #BFD8B8;
    padding: 15px;
    border-radius: 5px;
    font-size: 1em;
}

label{
    margin-right: 5px;
}

.buttons{
    background-color: white;
    border: 2px solid #92967D;
    color: black;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Roboto';
    transition-duration: 0.3s;
}

.buttons:hover {
    background-color: #92967D;
    color: white;
  }

.content-lineBarChart{
    display: none;
    padding-left: 10px;
    padding-right: 10px;
}

.content-scatterChart{
    display: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.margin{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.content-radarChart{
    display: none;
    overflow: scroll;
    overflow-x: hidden;

}

.radarSize{
    margin: 5px auto;
    height: 600px;
    width: 600px;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
    text-shadow: 2px 2px 8px #c78e8e; 
    cursor: pointer;
    transition: 0.2s;
}

.all-content{
    /* background-color: #F4D19B; */
    background-color: #E7EAB5;
    /* border-color:black; */
    height: 470px;
    /* -webkit-box-shadow: 0 0 10px 4px #000 inset;
    box-shadow: 0 0 9px 4px #000 inset; */
    border-radius: 5px;
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
}

.change-content{
    font-size: 2em;
    font-family: 'Cookie';
}

.change-content:after{
    content: '';
    animation: changetext 22s infinite linear;
}

@keyframes changetext{
    0%{content: "Climb the ladder to success, escalator style - Notorious B.I.G."}
    34%{content: "If you're scared to take the chances, you'll never have the answers - Nas"}
    66%{content: "Living life is a choice making a difference in someone else's isn't - Kid Cudi"}
    100%{content: "Better late than never but never late is better - Drake"}
}

.quote{
    text-align: center;
    padding-top: 50px;
}

.information{
    display: flex;
    /* grid-template-columns: 300px 100px 300px; */
    justify-content: space-between;
    width: 1000px;
    padding-top: 120px;
    padding-left: 20px;
    padding-right: 10px;
}

/* Custom Scrollbar  */
::-webkit-scrollbar{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track{
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb{
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
background: #555;
}
